/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mrt-2014, 16:13:53
    Author     : tiwi
*/

.root { 
  -fx-background-color: ghostwhite;
}

.vbox {
    -fx-padding: 10;
}

.bordered-titled-title {
  -fx-background-color: ghostwhite;
  -fx-translate-y: -10;
  -fx-translate-x: 10;
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 10 10 10 10;
  -fx-background-color: ghostwhite;
  -fx-border-color: black;
  -fx-border-width: 2;
}

.bordered-titled-content, .canvas {
  -fx-padding: 10 10 10 10;
}

.canvas {
  -fx-padding: 10 10 10 10;
  -fx-border-width: 2;
}
